@model PatientIndexVM

@{
    ViewData["Title"] = "Pacientes";
}

<div class="">
    <h1 class="text-center mb-3">PACIENTES</h1>

    <form asp-action="Index" method="get">
        <div class="row input-group mb-2">
            <div class="col-2">
                <select class="form-select" name="FilterSelected" asp-for="@ViewData["FilterSelected"]" asp-items="@Model.FilterOptions">
                    <option disabled selected>--Seleccionar filtro--</option>
                </select>
            </div>

            <div class="col">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Criterio de búsqueda" name="FilterCriteria" value="@ViewData["FilterCriteria"]" />

                    <button type="submit" class="btn btn-outline-primary">
                        <i class="bi bi-search"></i>
                        Buscar
                    </button>
                </div>
            </div>

            <div class="col text-end">
                <a class="btn btn-primary" asp-controller="Patient" asp-action="Upsert"><i class="bi bi-person-plus-fill"></i> Crear nuevo paciente</a>
            </div>
        </div>
    </form>

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-primary" scope="col">Record</th>
                <th class="text-primary" scope="col">Paciente</th>
                <th class="text-primary" scope="col">MA</th>
                <th class="text-primary" scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model.Patients.Items)
            {
                <tr>
                    <td>@patient.Record</td>
                    <td>@patient.Name</td>

                    <td>@(String.Concat(patient.MA.Sex ? "Dra. " : "Dr. ", patient.MA.FirstName, " ", patient.MA.LastName))</td>
                    <td>
                        <a class="btn btn-warning" asp-controller="Patient" asp-action="Upsert" asp-route-id="@patient.Id"><i class="bi bi-pencil-square"></i> Editar</a>
                        <a class="btn btn-danger" asp-controller="Patient" asp-action="Delete" asp-route-id="@patient.Id"><i class="bi bi-trash-fill"></i> Eliminar</a>
                        <a class="btn btn-dark" asp-controller="MedicalOrder" asp-action="Index" asp-route-patientId="@patient.Id"><i class="bi bi-file-earmark-text-fill"></i> Orden Médica</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if(Model.Patients.TotalPages > 1)
    {
        <div class="w-100 d-flex justify-content-center align-items-center position-absolute bottom-0">
            <ul class="pagination">
                <li class="page-item @(Model.Patients.PageIndex == 1 ? "disabled" : "")">
                    <a class="page-link" asp-route-page="1" asp-route-filterCriteria="@ViewData["FilterCriteria"]" asp-route-filterSelected="@ViewData["FilterSelected"]">Primero</a>
                </li>
                <li class="page-item @(Model.Patients.HasPreviousPage ? "" : "disabled")">
                    <a class="page-link" asp-route-page="@(Model.Patients.PageIndex - 1)" asp-route-filterCriteria="@ViewData["FilterCriteria"]" asp-route-filterSelected="@ViewData["FilterSelected"]">&laquo;</a>
                </li>

                @for (int i = 1; i <= Model.Patients.TotalPages; i++)
                {
                    <li class="page-item @(Model.Patients.PageIndex == i ? "active" : "")">
                        <a class="page-link" asp-route-page="@i" asp-route-filterCriteria="@ViewData["FilterCriteria"]" asp-route-filterSelected="@ViewData["FilterSelected"]">@i</a>
                    </li>
                }

                <li class="page-item @(Model.Patients.HasNextPage ? "" : "disabled")">
                    <a class="page-link" asp-route-page="@(Model.Patients.PageIndex + 1)" asp-route-filterCriteria="@ViewData["FilterCriteria"]" asp-route-filterSelected="@ViewData["FilterSelected"]">&raquo;</a>
                </li>
                <li class="page-item @(Model.Patients.PageIndex == Model.Patients.TotalPages ? "disabled" : "")">
                    <a class="page-link" asp-route-page="@(Model.Patients.TotalPages)" asp-route-filterCriteria="@ViewData["FilterCriteria"]" asp-route-filterSelected="@ViewData["FilterSelected"]">Último</a>
                </li>
            </ul>
        </div>
    }
</div>