@model PatientIndexVM

@{
    ViewData["Title"] = "Pacientes";
}

<h1>PACIENTES</h1>

<form method="post">
    <div class="row mb-2">
        <div class="col-2">
            <select class="form-select" asp-for="@Model.SelectedFilter" asp-items="@Model.Filters" >
                <option disabled selected>--Seleccione filtro--</option>
            </select>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Criterio de búsqueda" asp-for="@Model.FilterCriteria" />
        </div>
        <div class="col">
            <button type="submit" class="btn btn-secondary">
                <i class="bi bi-search"></i>
                Buscar
            </button>
        </div>
        <div class="col text-end">
            <a class="btn btn-primary" asp-controller="Patient" asp-action="Upsert"><i class="bi bi-person-plus-fill"></i> Crear nuevo paciente</a>
        </div>
    </div>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th class="text-primary" scope="col">Record</th>
            <th class="text-primary" scope="col">Paciente</th>
            <th class="text-primary" scope="col">MA</th>
            <th class="text-primary" scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model.Patients)
        {
            <tr>
                <td>@patient.Record</td>
                <td>@patient.Name</td>

                <td>@(String.Concat(patient.MA.Sex ? "Dra. " : "Dr. ", " ", patient.MA.FirstName, " ", patient.MA.LastName))</td>
                <td>
                    <a class="btn btn-warning" asp-controller="Patient" asp-action="Upsert" asp-route-id="@patient.Id"><i class="bi bi-pencil-square"></i> Editar</a>
                    <a class="btn btn-danger" asp-controller="Patient" asp-action="Delete" asp-route-id="@patient.Id"><i class="bi bi-trash-fill"></i> Eliminar</a>
                    <a class="btn btn-info" asp-controller="MedicalOrder" asp-action="Index" asp-route-patientId="@patient.Id"><i class="bi bi-file-earmark-text-fill"></i> Orden Medica</a>
                </td>
            </tr>
        }
    </tbody>
</table>