@model SurgicalProcedureVM

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-controller="SurgicalProcedure" asp-action="Index">Procedimientos quirurgicos</a>
    </li>
    <li class="breadcrumb-item active">Crear nuevo procedimiento quirurgico</li>
</ol>

<div class="container p-4 border bg-white rounded-3 shadow-sm">
    <form id="surgicalProcedureForm" method="post">
        @Html.AntiForgeryToken()
        <input asp-for="@Model.SurgicalProcedure.Id" hidden />

        @* GENERAL DATA *@
        <h5 class="text-primary">Datos Generales</h5>
        <div class="py-2 px-3 mb-3 border border-primary rounded-3">
            <input type="hidden" asp-for="@Model.SurgicalProcedure.PatientId" />
            <div class="row">
                <div class="col-6 mb-2">
                    <label for="record" class="form-label">Record</label>
                    <input class="form-control" id="record" asp-for="@Model.SurgicalProcedure.Patient.Record" disabled />
                </div>
                <div class="col-6 mb-2">
                    <label for="name" class="form-label">Nombre del paciente</label>
                    <input class="form-control" id="name" asp-for="@Model.SurgicalProcedure.Patient.Name" disabled />
                </div>
            </div>
            <div class="row">
                <div class="col-6 mb-2">
                    <label for="diagnostic" class="form-label">Diagnóstico</label>
                    <textarea class="form-control" id="diagnostic" asp-for="@Model.SurgicalProcedure.Diagnostic" rows="3"></textarea>
                    <span asp-validation-for="@Model.SurgicalProcedure.Diagnostic" class="text-danger"></span>
                </div>
                <div class="col-6 mb-2">
                    <label for="procedure" class="form-label">Procedimiento</label>
                    <textarea class="form-control" id="procedure" asp-for="@Model.SurgicalProcedure.Procedure" rows="3"></textarea>
                    <span asp-validation-for="@Model.SurgicalProcedure.Procedure" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="d-flex gap-4">
            <div class="p-0">
                @* DISCOVERIES DETAIL *@
                <h5 class="text-primary">Hallazgos</h5>
                <div class="py-2 px-3 border border-primary rounded-3">
                    <table id="DiscoveriesTable" class="table DetailTable" >
                        <thead>
                            <tr>
                                <th class="text-primary w-75" scope="col">Descripción</th>
                                <th class="text-primary" scope="col" style="position: relative">
                                    <button id="btnadd" type="button" class="btn btn-primary visible" style="position: absolute; top: 0%; left: 0%;" onclick="addDiscoveryDetail(this)">
                                        <i class="bi bi-plus-circle"></i>
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="discoveryDetails">
                            @for (int i = 0; i < Model.SurgicalProcedure.Discoveries.Count; i++)
                            {
                                <tr>
                                    <td class="w-75">
                                        <input type="hidden" asp-for="@Model.SurgicalProcedure.Discoveries[i].Id" />
                                        <input asp-for="@Model.SurgicalProcedure.Discoveries[i].Description" class="form-control" />
                                        <span asp-validation-for="@Model.SurgicalProcedure.Discoveries[i].Description" class="text-danger"></span>
                                    </td>
                                    <td style="position: relative">
                                        <button id="btnremove-@i" type="button" class="btn btn-danger visible" style="position: absolute; left: 0%;" onclick="removeDiscoveryDetail(this)">
                                            <i class="bi bi-trash-fill"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="p-0">
                @* DOCTOR DETAIL *@
                <h5 class="text-primary">Doctores</h5>
                <div class="py-2 px-3 border border-primary rounded-3">
                    <div class="mb-2 pb-3 border-bottom border-primary">
                        <label for="ma" class="form-label fw-bold">MA Responsable</label>
                        <input class="form-control" id="ma" asp-for="@Model.NameMA" disabled />
                    </div>
                    <table id="DoctorTable" class="table DetailTable">
                        <thead>
                            <tr>
                                <th class="text-primary w-75" scope="col">Residente</th>
                                <th class="text-primary" scope="col" style="position: relative">
                                    <button id="btnadd" type="button" class="btn btn-primary visible" style="position: absolute; top: 0%; left: 0%;" onclick="addDoctorDetail(this)">
                                        <i class="bi bi-plus-circle"></i>
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="doctorDetails">
                            @for (int i = 0; i < Model.SurgicalProcedure.DoctorSurgicalProcedures.Count(); i++)
                            {
                                <tr>
                                    <td class="w-75">
                                        <select id="doctorSelect-@i" class="form-select doctorSelect" asp-for="@Model.SurgicalProcedure.DoctorSurgicalProcedures[i].DoctorId" asp-items="@Model.ResidentDroplist">
                                            <option disabled selected>--Seleccione Residente--</option>
                                        </select>
                                    </td>
                                    <td style="position: relative">
                                        <button id="btnremove-@i" type="button" class="btn btn-danger visible" style="position: absolute; left: 0%;" onclick="removeDoctorDetail(this)">
                                            <i class="bi bi-trash-fill"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <button type="submit" asp-action="Create" class="btn btn-primary w-100 mt-3">
            <i class="bi bi-floppy2-fill"></i> Guardar
        </button>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(function () {
            $('.doctorSelect').select2({ theme: 'bootstrap-5' });
        });
    </script>
}