@model MedicalOrderSummary

@{
    Layout = null;

    bool isPreview = ViewData["IsPreview"] != null && (bool)ViewData["IsPreview"];
}

<title>Orden Medica - Reporte</title>

@if (isPreview)
{
    <a class="button" asp-controller="MedicalOrder" asp-action="Index" asp-route-patientId="@Model.Patient.Id_Patient">Volver</a>
}

<div class="header-report">
    <img class="image" src="https://localhost:7192/images/hospital-logo.png" alt="Hospital Logo" />

    <div class="text-content">
        <b>SERVICIO NACIONAL DE SALUD</b><br />
        <b>SERVICIO REGIONAL DE SALUD METROPOLITANO</b><br />
        <b>HOSPITAL DR. FRANCISCO E. MOSCOSO PUELLO</b><br />
        <b>RESIDENCIA DE CIRUGIA GENERAL</b>
    </div>

    <img class="image" src="https://localhost:7192/images/resident-logo.jpeg" alt="Resident Logo" />
</div>

<div style="width: 80%; margin: 0 auto; border: 1px solid;">
    <div class="grid-header" style="padding: 5px 0;">
        <b>ORDEN MEDICA</b>
    </div>

    <div class="grid-container">
        <div class="flex" style="width: 100%;">
            <div class="border" style="width: 50%;">
                <ul style="list-style-type:none; margin: 0 0 0 5px; padding:0;">
                    <li><b>DATOS GENERALES</b> </li>
                    <li><b>RECORD:</b> @Model.Patient.Record</li>
                    <li><b>NOMBRE:</b> @Model.Patient.Name</li>
                    <li><b>EDAD:</b> @Model.Patient.Age Años</li>
                    <li><b>PESO:</b> @Model.Patient.Weight Libras</li>
                    <li><b>SEGURO:</b> @Model.Patient.ARS <b>NSS:</b> @Model.Patient.NSS</li>
                </ul>
            </div>

            <div class="border" style="width: 50%; border-left: 1px solid;">
                <ul style="list-style-type:none; margin: 0 0 0 5px; padding:0;">
                    <li><b>SERVICIO:</b> @Model.MedicalOrder.Service</li>
                    <li><b>SALA:</b> @Model.MedicalOrder.Room</li>
                    <li><b>SEXO:</b> @Model.Patient.Sex</li>
                    <li><b>FECHA:</b> @Model.MedicalOrder.CreatedDate</li>
                    <li><b>HORA:</b> @Model.MedicalOrder.CreatedTime</li>
                    <li><b>MEDICO RESPONSABLE:</b> @Model.Patient.MA MA</li>
                </ul>
            </div>
        </div>

        <div class="border" style="padding-left: 5px;">
            <p style="padding:0; margin:0;"><b>DIAGNOSTICO:</b> @Model.MedicalOrder.Diagnostic</p>
        </div>

        <div class="flex">
            <div class="border" style="width: 50%;">
                <ul style="list-style-type:none; margin: 0 0 0 5px; padding:0;">
                    <li><b>MEDIDAS GENERALES:</b> </li>
                    <li><b>DIETA:</b> @Model.MedicalOrder.Diet</li>
                    <li><b>CURAS:</b> @Model.MedicalOrder.Cures</li>
                    <li><b>POSTURA:</b> @Model.MedicalOrder.Position</li>
                    <li><b>CONTROLES ESPECIALES:</b> @Model.MedicalOrder.SpecialControls</li>
                </ul>
            </div>

            <div class="border" style="width: 50%; border-left: 1px solid;">
                <div style="display: -webkit-box; padding-left: 5px;">
                    <div style="width:50%;">
                        <span><b>DREN:</b> @Model.MedicalOrder.DREN</span>
                    </div>
                    <div style="width:50%;">
                        <span><b>ALERGIAS:</b> @Model.MedicalOrder.Alergies</span>
                    </div>
                </div>
                <div>
                    <ul style="list-style-type:none; margin: 0 0 0 5px; padding:0;">
                        <li><b>INTERCONSULTAS:</b> @Model.MedicalOrder.Enterconsult</li>
                        <li><b>LABORATORIOS:</b> @Model.MedicalOrder.Labs</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="border" style="padding-left: 5px; border-bottom: 0px">
            <p style="padding:0; margin:0;"> &nbsp;</p>
        </div>
    </div>
</div>

<table style="width: 80%; margin: 0 auto;">
    <thead>
        <tr>
            <th>SOLUCIONES</th>
            <th>DOSIS</th>
            <th>FRECUENCIA</th>
            <th>VIA</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Solutions.Count; i++)
        {
            <tr>
                <td>@Model.Solutions[i].Name</td>
                <td>@Model.Solutions[i].Dose</td>
                <td>@Model.Solutions[i].Frecuency</td>
                <td>@Model.Solutions[i].Via</td>
            </tr>
        }
    </tbody>
</table>

<style>
    .flex {
        display: -webkit-box;
    }

    .header-report {
        display: -webkit-box;
        -webkit-box-pack: justify;
        width: 80%;
        margin: 25px auto;
        text-align: center;
    }

    .grid-container {
        display: table;
        width: 100%;
    }

    .grid-header {
        text-align: center;
        background-color: #ddd;
    }

    .border {
        border-top: 1px solid black;
    }

    .button{
        font-size: 25px
    }
    
    .image{
        width: 80px;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    * {
        font-family: Calibri, "Times New Roman", sans-serif;
    }
</style>