@using MyPatient.Web.Models.Enums;

@model MedicalOrderIndexVM

@{
    ViewData["Title"] = "Ordenes Médicas";
}

<ol class="breadcrumb px-0">
    <li class="breadcrumb-item">
        <a asp-controller="Patient" asp-action="Index">Pacientes</a>
    </li>
    <li class="breadcrumb-item active">Ordenes médicas</li>
</ol>

<div class="d-flex gap-5 p-4 border bg-white rounded-3 shadow-sm">
    <div class="w-100">
        <form asp-action="Index" method="get">
            <div class="row input-group mb-2">
                <div class="col-auto">
                    <select class="form-select" name="FilterSelected" asp-for="@ViewData["FilterSelected"]">
                        <option disabled selected>--Seleccionar filtro--</option>
                    </select>
                </div>

                <div class="col">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Criterio de búsqueda" name="FilterCriteria" value="@ViewData["FilterCriteria"]" />

                        <button type="submit" class="btn btn-outline-primary">
                            <i class="bi bi-search"></i>
                            Buscar
                        </button>
                    </div>
                </div>
                <div class="col-auto d-flex gap-2 p-0">
                    <div>
                        <a class="btn btn-primary mb-2" asp-action="Create" asp-route-patientId="@Model.Patient.Id">
                            <i class="bi bi-file-earmark"></i> Crear nueva
                        </a>
                    </div>
                    <div>
                        <a class="btn btn-primary mb-2" asp-action="Create" asp-route-patientId="@Model.Patient.Id" asp-route-copy="true">
                            <i class="bi bi-copy"></i> Copiar última
                        </a>
                    </div>
                </div>
            </div>
        </form>

        <table class="table table-hover w-100">
            <thead>
                <tr>
                    <th class="text-primary" scope="col">Tipo</th>
                    <th class="text-primary" scope="col">Fecha</th>
                    <th class="text-primary" scope="col">Sala</th>
                    <th class="text-primary" scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var medicalOrder in Model.MedicalOrders.Items)
                {
                    <tr>
                        <td>
                            <span class="badge @(medicalOrder.Type == TypeMedicalOrder.Ingreso ? "bg-success" : medicalOrder.Type == TypeMedicalOrder.Diaria ? "bg-primary" : "bg-info")">
                                @medicalOrder.Type
                            </span>
                        </td>
                        <td>@medicalOrder.CreatedDate.ToString()</td>
                        <td>@medicalOrder.Room</td>
                        <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-patientId="@Model.Patient.Id" asp-route-medicalOrderId="@medicalOrder.Id"><i class="bi bi-pencil-square"></i> Editar</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-patientId="@Model.Patient.Id" asp-route-medicalOrderId="@medicalOrder.Id"><i class="bi bi-trash-fill"></i> Eliminar</a>
                            <a class="btn btn-info" asp-action="GenerateReport" asp-route-medicalOrderId="@medicalOrder.Id" asp-route-medicalOrderType="@medicalOrder.Type" asp-route-downloadPDF="false"><i class="bi bi-eye-fill"></i> Previsualizar</a>
                            <a class="btn btn-dark" asp-action="GenerateReport" asp-route-medicalOrderId="@medicalOrder.Id" asp-route-medicalOrderType="@medicalOrder.Type" asp-route-downloadPDF="true"><i class="bi bi-file-earmark-pdf-fill"></i> PDF</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (Model.MedicalOrders.TotalPages > 1)
        {
            <div class="w-100 d-flex justify-content-center align-items-center">
                <ul class="pagination m-0">
                    <li class="page-item @(Model.MedicalOrders.PageIndex == 1 ? "disabled" : "")">
                        <a class="page-link" asp-route-patientId="@Model.Patient.Id" asp-route-page="1" asp-route-tab="income">Primero</a>
                    </li>
                    <li class="page-item @(Model.MedicalOrders.HasPreviousPage ? "" : "disabled")">
                        <a class="page-link" asp-route-patientId="@Model.Patient.Id" asp-route-page="@(Model.MedicalOrders.PageIndex - 1)" asp-route-tab="income">&laquo;</a>
                    </li>

                    @for (int i = 1; i <= Model.MedicalOrders.TotalPages; i++)
                    {
                        <li class="page-item @(Model.MedicalOrders.PageIndex == i ? "active" : "")">
                            <a class="page-link" asp-route-patientId="@Model.Patient.Id" asp-route-page="@i" asp-route-tab="income">@i</a>
                        </li>
                    }

                    <li class="page-item @(Model.MedicalOrders.HasNextPage ? "" : "disabled")">
                        <a class="page-link" asp-route-patientId="@Model.Patient.Id" asp-route-page="@(Model.MedicalOrders.PageIndex + 1)" asp-route-tab="income">&raquo;</a>
                    </li>
                    <li class="page-item @(Model.MedicalOrders.PageIndex == Model.MedicalOrders.TotalPages ? "disabled" : "")">
                        <a class="page-link" asp-route-patientId="@Model.Patient.Id" asp-route-page="@(Model.MedicalOrders.TotalPages)" asp-route-tab="income">Último</a>
                    </li>
                </ul>
            </div>
        }
    </div>

    @* PACIENT DATA *@
    <div style="right: 50px;">
        <div class="card border-primary text-white" style="min-width: 20rem;">
            <div class="card-header text-center bg-primary">
                <b>DATOS DEL PACIENTE</b>
            </div>
            <div class="card-body text-primary">
                <ul class="list-unstyled m-0">
                    <li><b>Record:</b> @Model.Patient.Record</li>
                    <li><b>Nombre:</b> @Model.Patient.Name</li>
                    <li><b>Sexo:</b> @(Model.Patient.Sex ? "Femenino" : "Masculino")</li>
                    <li><b>Edad:</b> @Model.Patient.Age.ToString() @(Model.Patient.Age is not null ? (Model.Patient.Age > 1 ? "Años" : "Año") : (""))</li>
                    <li><b>Peso:</b> @Model.Patient.Weight @(Model.Patient.Weight is not null ? ("Libras") : (""))</li>
                    <li><b>Identificación:</b> @Model.Patient.Identification</li>
                    <li><b>Es Asegurado:</b> @(Model.Patient.IsInsured ? "Si" : "No")</li>
                    <li><b>ARS:</b> @Model.Patient.ARS</li>
                    <li><b>Número de Seguro Social (NSS):</b> @Model.Patient.NSS</li>
                    <li class="mt-2 text-center">
                        <a class="btn btn-outline-primary" asp-controller="Patient" asp-action="Upsert" asp-route-id="@Model.Patient.Id">
                            <i class="bi bi-pencil-square"></i>
                            Editar datos del paciente
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            const activeTab = localStorage.getItem("activeTab");

            if (activeTab) {
                $(".tab").removeClass("active");
                $(".tab-pane").removeClass("active");
                $("[aria-selected]").attr("aria-selected", "false");

                $("#" + activeTab).addClass("active");
                $("#" + activeTab).attr("aria-selected", "true");
                $("#tab-pane-" + activeTab).addClass("active");
                $("#tab-pane-" + activeTab).addClass("show");
            }

            $(".tab").on("click", function () {
                localStorage.setItem("activeTab", this.id);
            });
        });
    </script>
}